// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

// custom my hub top nav
.my-hub-nav {
    background-color: rgb(0, 85, 165);
    ul {
        margin: 0 22px;

        li {
            display: inline-block;
            margin-bottom: 0;
            padding: 10px;
            
            a {
                color: #ffffff;
                font-size: 16px;
                text-decoration: none;
            }
        }
    }
} 

.chevron::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(45deg);
    margin-left: 0.5rem;
    vertical-align: middle;
}


// custom header (My Hub)
.nhsuk-header {
    background-color: #035db8;

    .nhsuk-header__service-name {
        padding-left: 0;
    }
    .nhsuk-header__container {
        margin: 0 32px;
        padding-bottom: 0;
    }
    .nhsuk-navigation {
        border: none;
        margin: 0 32px;
        max-width: 1140px;

        .nhsuk-header__navigation-link {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    .logo {
        display: inline-block;
        margin: 0 32px;
    }

    .content {
        display: inline-block;
    }
}

// custom footer (My Hub)
.nhsuk-footer-container {
    background-color: #035db8;

    .nhsuk-footer {
        background-color: #035db8;
        color: #ffffff;
        margin: 0 32px;
        
        a {
            color: #ffffff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}