<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Agile phases" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
	<ol class="nhsuk-breadcrumb__list">
		<li class="nhsuk-breadcrumb__list-item">
			<a class="nhsuk-breadcrumb__link" href="/index">Home</a>
		</li>
		<li class="nhsuk-breadcrumb__list-item">
			<a class="nhsuk-breadcrumb__link" href="preparing-for-an-assessment">Preparing for a GDS assessment</a>
		</li>
		<li class="nhsuk-breadcrumb__list-item">
			<a class="nhsuk-breadcrumb__link" href="agile-phases">Agile phases</a>
		</li>
		<li class="nhsuk-breadcrumb__list-item">
			<a class="nhsuk-breadcrumb__link" href="discovery-phase">Discovery phase</a>
		</li>

	</ol>


</nav>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">





	<div class="nhsuk-grid-column-one-quarter">


		<h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">Guidance</h2>

		<nav class="app-side-nav">
			<ul class="nhsuk-list app-side-nav__list">

				<li class="app-side-nav__item"><a class="app-side-nav__link" href="setting-up-your-team">Setting up your
						team</a></li>
				<li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link"
						href="agile-phases">Agile phases</a></li>


			</ul>
		</nav>

		<br>
		<!--<h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">Roles</h2>

		 <nav class="app-side-nav">
			<ul class="nhsuk-list app-side-nav__list">
				<!-- <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link"
								href="/content/standard-for-creating-health-content">Setting up your team</a></li> --><!--
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="setting-up-your-team">User
						research</a></li>
			
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="agile-phase">Design</a>
				</li>
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="beta-phase">Tech</a>
				</li>
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="live-phase">Delivery manager</a>
				</li>
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="live-phase">Product owner</a>
				</li>
			</ul>
		</nav> -->
	</div>

	<div class="nhsuk-grid-column-three-quarters">



		<h1 class="govuk-heading-l">Discovery phase</h1>

		<p class="govuk-body">
			A service will not be officially assessed during the Discovery phase, but it is important to complete
			Discovery before moving to Alpha.
		</p>

		<p class="govuk-body">
			You may be asked by DHSC to present a Discovery review and are advised to ask our in-house trained assessors
			to conduct a mock Discovery review. These reviews help ensure your service is ready to move into Alpha.
		</p>

		<p class="govuk-body">
			DHSC are currently exploring the value of Discovery reviews. If you'd like your service to have one, contact
			our in-house assessors.
		</p>

		<p class="govuk-body">
			Preparing for Discovery is about showing that you've explored the problem space and are ready to move into
			Alpha.
		</p>

		<p class="govuk-body">You should have a clear understanding of:</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>the entire problem space your service sits in</li>
			<li>the problem your service will directly solve</li>
			<li>the user needs of those who will use your service</li>
			<li>the context in which the service operates</li>
			<li>the risks and opportunities</li>
			<li>the solution options you've considered</li>
			<li>your plan for Alpha</li>
		</ul>

		<h2 class="govuk-heading-m">Features</h2>

		<p class="govuk-body">Your Discovery phase will:</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>include qualitative and quantitative research methods to understand the context and problem</li>
			<li>include research reports, as-is service blueprints, as-is user journeys and personas</li>
			<li>include research into accessibility, inclusivity and access needs</li>
			<li>typically take 6 to 12 weeks</li>
			<li>be delivered by a multidisciplinary team</li>
			<li>identify context, pain points and opportunities</li>
			<li>explore constraints such as legacy technology and legislation</li>
			<li>provide a go/no-go recommendation for Alpha</li>
			<li>include a plan for Alpha if recommending a go decision</li>
			<li>be more cost-effective than going straight into delivery</li>
		</ul>

		<h2 class="govuk-heading-m">Benefits</h2>

		<p class="govuk-body">There are many benefits to conducting a Discovery phase, including:</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>it forces you to define the problem</li>
			<li>you'll carry out research with a range of users</li>
			<li>it helps establish whether there's a need to continue to Alpha</li>
			<li>it is a crucial part of the GDS service standard process</li>
			<li>it helps you understand the context around the problem</li>
			<li>it allows you to define a vision for the service</li>
			<li>it helps you understand inclusivity and access needs</li>
			<li>it helps you understand constraints such as legacy technology and legislation</li>
			<li>you'll identify measures of success</li>
			<li>it enables you to identify opportunities</li>
		</ul>

		<h2 class="govuk-heading-m">What the GDS assessment panel is looking for</h2>

		<p class="govuk-body">
			Assessors want to see evidence that:
		</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>you understand the problem and the users</li>
			<li>you're not jumping straight to solutions</li>
			<li>you've gathered a wide range of insights, not just from stakeholders</li>
			<li>you've explored multiple approaches</li>
			<li>you have a credible plan for Alpha</li>
			<li>the service is worth the public funds invested in it</li>
		</ul>

		<h2 class="govuk-heading-m">Artefacts to produce</h2>

		<p class="govuk-body">
			You should make sure you include:
		</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>research plans</li>
			<li>user interviews and user research playbacks with insights</li>
			<li>as-is user journey maps and service blueprints</li>
			<li>a problem statement</li>
			<li>the policy behind the service</li>
			<li>a robust plan for Alpha</li>
			<li>rough design concepts proposing a range of possible solutions</li>
		</ul>







	</div>
</div>
{% endblock %}