<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Home" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

        <h1 class="nhsuk-heading-xl">
            Service assessments
        </h1>

        <p class="nhsuk-u-margin-bottom-0">Introduction text - Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias illo id dolor quam quas
            vero assumenda perferendis cum exercitationem reiciendis. Placeat harum illum consequatur incidunt sit
            voluptatum mollitia qui ea.</p>  
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <hr>
    </div>
    <div class="nhsuk-grid-column-three-quarters">
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-full nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
                    <div class="nhsuk-card__content nhsuk-card__content--secondary">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="#">Book a
                                mock assessment</a> </h2>
                        <p class="nhsuk-card__description">Services the NHS provides if you need urgent or emergency
                            medical help</p>
                    </div>
                </div>

            </li>
            <li class="nhsuk-grid-column-full nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
                    <div class="nhsuk-card__content nhsuk-card__content--secondary">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="#">Book an
                                assessment</a> </h2>
                        <p class="nhsuk-card__description">Services the NHS provides if you need urgent or emergency
                            medical help</p>
                    </div>
                </div>

            </li>
            <li class="nhsuk-grid-column-full nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
                    <div class="nhsuk-card__content nhsuk-card__content--secondary">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="#">Apply to
                                become an assessor</a> </h2>
                        <p class="nhsuk-card__description">Services the NHS provides if you need urgent or emergency
                            medical help</p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m">Featured</h2>
        <ul class="nhsuk-list">
            <li><a href="#">Featured link</a></li>
            <li><a href="#">Featured link</a></li>
            <li><a href="#">Featured link</a></li>
        </ul>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable"> <img class="nhsuk-card__img"
                        src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="#">Why we do
                                mock assessments</a> </h2>
                        <p class="nhsuk-card__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Quas perferendis rerum ipsum ad, distinctio exercitationem.</p>
                    </div>
                </div>


            </li>
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable"> <img class="nhsuk-card__img"
                        src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="#">NHS and
                                GDS service standards</a> </h2>
                        <p class="nhsuk-card__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Quas perferendis rerum ipsum ad, distinctio exercitationem.</p>
                    </div>
                </div>

            </li>
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable"> <img class="nhsuk-card__img"
                        src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="#">Agile
                                Phases</a> </h2>
                        <p class="nhsuk-card__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Quas perferendis rerum ipsum ad, distinctio exercitationem.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}