<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Home" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
		<h1 class="nhsuk-heading-xl">Why we do mock assessments</h1>

        <p class="nhsuk-u-margin-bottom-0">Introduction text - Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Alias illo id dolor quam quas
            vero assumenda perferendis cum exercitationem reiciendis. Placeat harum illum consequatur incidunt sit
            voluptatum mollitia qui ea.
		</p>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <hr>

        <h2 class="nhsuk-heading-m">Involvement</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint perferendis, delectus odio modi dolor minus illo iste? Neque non suscipit velit, laudantium quas voluptas iure qui nam, ipsam exercitationem provident.</p>

        <h2 class="nhsuk-heading-m">Preparation</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint perferendis, delectus odio modi dolor minus illo iste? Neque non suscipit velit, laudantium quas voluptas iure qui nam, ipsam exercitationem provident.</p>

        <h2 class="nhsuk-heading-m">Purpose</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint perferendis, delectus odio modi dolor minus illo iste? Neque non suscipit velit, laudantium quas voluptas iure qui nam, ipsam exercitationem provident.</p>

        <h2 class="nhsuk-heading-m">Outcome</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint perferendis, delectus odio modi dolor minus illo iste? Neque non suscipit velit, laudantium quas voluptas iure qui nam, ipsam exercitationem provident.</p>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <hr>
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
				{{ card({
					primary: true,
					clickable: true,
					href: "#",
					heading: "Prepare for an assessment",
					headingSize: "m",
					description: "A quick guide for people who have care and support needs and their carers"
				}) }}
            </li>

            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
				{{ card({
					primary: true,
					clickable: true,
					href: "#",
					heading: "Book a mock assessment",
					headingSize: "m",
					description: "A quick guide for people who have care and support needs and their carers"
				}) }}
            </li>
        </ul>
    </div>
</div>
{% endblock %}